*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/app
build.gradle.kts
gradle.properties
/gradle
gradlew
gradlew.bat
settings.gradle.kts
/.idea
/android
/ios
/.build
testgula.xcodeproj/project.pbxproj
testgula.xcodeproj/project.xcworkspace/contents.xcworkspacedata
testgula.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
testgula.xcodeproj/project.xcworkspace/xcuserdata/fer.xcuserdatad/UserInterfaceState.xcuserstate
testgula.xcodeproj/xcuserdata/fer.xcuserdatad/xcschemes/xcschememanagement.plist
